* {
	margin:0px;
	padding: 0px;
}
html,body {
	overflow: hidden;
	height: 100%;
	font-family:'Microsoft YaHei';
	    background-color: #5abaea;
}
/* loadding 效果*/
.bg,.bg img {
	width: 100%;
	height: 100%;
}
#main {
	position: relative;
}
.subject,.pangxie {
	position: absolute;
	display: none;
}
.pangxie {
	cursor: pointer;
	cursor:url('../image/chuizi.cur'),auto;
	background: url('../image/shadow.gif') repeat;
	display: none;
}
.pangxie .right {
	width: 100%;
}
.subject img {
	width: 100%;
}
.subjectText {
	position: absolute;
	text-indent: 10px;
	font-size: 18px;
	line-height: 28px;
	display: none;
}

.pangxieItem {
	position: absolute;
	top: 0px;
	z-index: 2;
	text-align: center;
	cursor:url('../image/chuizi.cur'),auto;
	background: url('../image/shadow.gif') repeat;
	display: table-cell;
	font-size: 18px;
	display: none;
}
.pangxieItem span{
	vertical-align: middle;
}
.fps {
	position: absolute;
	top:0px;
}